@import "tailwindcss";

:root {
  --accent-purple: #630270;
  --light-purple: #f76ef2;

  --shadow-white-glow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.homepage {
  background-image: url("./assets/soweto.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.homepage::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  /* adjust darkness */
  z-index: 0;
}